
# Example HSTX configuration file for 3hs. To compile run:
#  ~$ 3hstool maketheme dark.cfg dark.hstx
# All color codes may be prefixed with either # or 0x.
# The last the characters of a color code are almost always FF for no transparency.
# Color codes are all standard RGBA, also used by HTML.
# All color codes are optional, if omitted the default (light) color will be used.

# The theme author (may be left out)
author = hShop developers

# The theme name (may be left out)
name = Dark theme

# This is the background color
background_color = #1C2021FF

# Color of all the text
text_color = #FFFFFFFF

# Background color used for some buttons (like in the burger menu)
button_background_color = #323536FF

# Border of selected buttons (like in the burger menu)
button_border_color = #FFFFFFFF

# Color of the battery indicator background color with good Wi-Fi
battery_good_color = #00A200FF

# Color of the battery indicator background color with bad Wi-Fi
battery_bad_color = #DA0000FF

# Background color of toggle (see settings) if it's enabled
toggle_enabled_color = #00A200FF

# Background color of toggle (see settings) if it's disabled
toggle_disabled_color = #DA0000FF

# Color of the slider in a toggle (see settings)
toggle_slider_color = #FFFFFFFF

# Color of the background of a progress bar
progress_bar_foreground_color = #00D203FF

# Color of the foreground (= when it's filled up) of a progress bar
progress_bar_background_color = #FFFFFFFF

# Color of the scrollbar on the right in large lists
scrollbar_color = #3C3C3CFF

# Color of the LED when an installation succeeded, α component is ignored here
led_success = #00FF0000

# Color of the LED when an installation failed, α component is ignored here
led_failure = #FF000000

# Border of the SMDH icon used in manual lumalocale
smdh_icon_border_color = #FFFFFFFF

# Color of the border of a checkbox
checkbox_border_color = #FFFFFFFF

# Color of the fill in a checked checkbox, an unchecked box has a color of #00000000 (α=0, appropriate is used)
checkbox_check_color = #000000FF

# Relative from the .cfg file path to your more image, recommended 20x20
more_image = ./default_data/more_dark.png

# Relative from the .cfg file path to your more image, recommended 26x16
battery_image = ./default_data/battery_dark.png

# Relative from the .cfg file path to your more image, recommended 20x20
search_image = ./default_data/search_dark.png

# Relative from the .cfg file path to your more image, recommended 20x20
settings_image = ./default_data/settings_dark.png

# Relative from the .cfg file path to your more image, recommended 80x80
spinner_image = ./default_data/spinner_dark.png

# Relative from the .cfg file path to your more image, recommended 20x20
random_image = ./default_data/random_dark.png

# Background image for top screen, recommended 400x240, not used in default themes
#background_top_image =

# Background image for bottom screen, recommended 320x240, not used in default themes
#background_bottom_image =

